.DS_Store
.everc
.l10ns
config.json
bower_components
build/assets/js/bundle.js
build/assets/js/bundle.js.map
build/assets/js/commons.bundle.js.map
build/assets/js/commons.bundle.js
build/assets/css/style.css
build/assets/css/style.css.map
test/**/bundle.js
test/**/bundle.js.map
test/**/commons.bundle.js
test/**/commons.bundle.js.map
test/**/style.css
test/**/style.css.map
.components.bundle.js.map
.components.bundle.js
.components.js
node_modules
npm-debug.log
localizations/output
!app_ios/platforms/ios/cordova/node_modules
!app_android/platforms/android/cordova/node_modules
!app_android_xwalk/platforms/android/cordova/node_modules
app_ios/platforms/ios/www/*
app_android/platforms/android/assets/www/*
app_android_xwalk/platforms/android/assets/www/*
!app_ios/platforms/ios/www/index.html
!app_android/platforms/android/assets/www/index.html
!app_android_xwalk/platforms/android/assets/www/index.html
app_android/platforms/android/android-armv7-release.apk
app_android/platforms/android/android-x86-release.apk
app_android_xwalk/platforms/android/android-armv7-release.apk
app_android_xwalk/platforms/android/android-x86-release.apk
app_android/platforms/android/release-signing.properties
app_android/platforms/android/.gradle
app_android/platforms/android/app/build/
app_android/platforms/android/app/src/main/assets/www/*
!app_android/platforms/android/app/src/main/assets/www/index.html
app_android/platforms/android/CordovaLib/build/

*.keystore
app_android/build.json
app_ios/build.json
app_browser/build.json
*-android-x86-release.apk
*-android-armv7-release.apk
